@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

html {
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1920 - 300)));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #020512;
  padding: 0.5rem 10%;
  display: flex;
  align-items: center;
  z-index: 100;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
}

.logo a {
  font-size: 1.2em;
  color: #ededed;
  text-decoration: none;
  font-weight: 700;
  position: left;
}

section {
  min-height: 100vh;
  padding: 7rem 1.5%;
  font-size: 0.9rem;
}

span {
  color: rgb(221, 108, 2);
}

.conteudo-home {
  max-width: 45rem;
}

.conteudo-home h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}

.conteudo-home p {
  margin: 1rem 0 2rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 4rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 70%;
  background: rgb(221, 108, 2);
  border: 0.1rem solid rgb(221, 108, 2);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  z-index: 10;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: rgb(221, 108, 2);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #020512;
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 8rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.social-media a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(221, 108, 2);
  border: 0.1rem solid rgb(221, 108, 2);
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.social-media a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #020512;
  z-index: -1;
  transition: 0.5s;
}

.social-media a:hover::before {
  width: 100%;
}

.social-media a i {
  color: white;
}

.social-media a:hover i {
  color: rgb(221, 108, 2);
}

.titulo {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1.2rem;
}

.img-sobre {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-sobre img {
  width: 40%;
  border-radius: 50%;
  border: 0.2rem solid rgb(221, 108, 2);
}

.img-sobre .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border-top: 0.2rem solid hsla(229, 63%, 12%, 0.1);
  border-bottom: 0.2rem solid hsla(229, 63%, 12%, 0.1);
  border-left: 0.2rem solid #58cef5;
  border-right: 0.2rem solid #58cef5;
  animation: aboutSpinner 8s linear infinite;
}

.conteudo-sobre {
  text-align: center;
}

.conteudo-sobre p {
  font-size: 0.9rem;
  margin: auto;
}

.formacao .formacao-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  gap: 5rem;
  justify-content: center;
}

.formacao-row .formacao-column {
  flex: 0 0 30rem;
}

.formacao-column .curso,
.idioma {
  font-size: 1.3rem;
  margin: 0 0.8rem 0.8rem;
}

.skill-box .skill-content {
  position: relative;
  border: 0.1rem solid rgb(221, 108, 2);
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
}

.skill-content .progresso {
  padding: 1rem 0;
}

.skill-content .progresso h3 {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.skill-content .progresso p {
  font-size: 0.6rem;
  float: inline-start;
}

.skill-content .progresso h3 span {
  color: #fff;
}

.skill-content .progresso .bar {
  height: 1.8rem;
  border-radius: 0.6rem;
  border: 0.1rem solid rgb(221, 108, 2);
  padding: 0.25rem;
  margin: 1rem 0;
}

.skill-content .progresso .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: rgb(221, 108, 2);
}

.formacao-column:nth-child(1) .skill-content .progresso:nth-child(1) .bar span {
  width: 33%;
}

.formacao-column:nth-child(1) .skill-content .progresso:nth-child(2) .bar span {
  width: 40%;
}

.formacao-column:nth-child(1) .skill-content .progresso:nth-child(3) .bar span {
  width: 7%;
}

.formacao-column:nth-child(2) .skill-content .progresso:nth-child(1) .bar span {
  width: 100%;
}

.formacao-column:nth-child(2) .skill-content .progresso:nth-child(2) .bar span {
  width: 62%;
}

.formacao-column:nth-child(2) .skill-content .progresso:nth-child(3) .bar span {
  width: 45%;
}

.imagem-portfolio {
  padding: 0.7rem 10%;
}

.portfolio-border {
  width: 42rem;
  height: 23.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
}
.animated-border {
  width: 50rem;
  height: 19rem;
  background: rgb(221, 108, 2);
  position: absolute;
  animation: rotate 3s infinite ease-in-out;
  border-radius: 0.5rem;
}
.corner {
  width: 41.5rem;
  height: 23rem;
  background: url('img/Untitled-1.png');
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.portfolio-conteudo {
  width: 40.5rem;
  height: 22rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid rgb(221, 108, 2);
  border-radius: 0.5rem;
}

.slider {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40.5rem;
  height: 21.5rem;
  overflow: hidden;
  border-radius: 0.2rem;
}

.slider .list {
  position: relative;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 2s;
}

.slider .list img {
  width: 40rem;
  max-width: 100vw;
  height: 100%;
  object-fit: fill;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(221, 108, 2, 0.7);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.slider .dots {
  position: absolute;
  bottom: 1%;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: rgb(221, 108, 2, 0.7);
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.slider .dots li.active {
  width: 30px;
}

/*-- Formulario  --*/
.contato form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  z-index: 0;
}

.contato form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato form .input-box .input-field {
  position: relative;
  width: 45%;
  margin: 0.4rem 0;
}

.contato form .input-box .input-field input,
.contato form .campo-textarea textarea {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font-size: 0.9rem;
  color: white;
  background: transparent;
  border: 0.1rem solid rgb(221, 108, 2);
  border-radius: 0.5rem;
}

.contato form .input-box .input-field input::placeholder,
.contato form .campo-textarea textarea::placeholder {
  color: white;
}

.contato form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(221, 108, 2, 0.2);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contato form .input-box .input-field input:focus ~ .focus,
.contato form .input-box .input-field input:valid ~ .focus,
.contato form .campo-textarea textarea:focus ~ .focus,
.contato form .campo-textarea textarea:valid ~ .focus {
  width: 100%;
}

.contato form .campo-textarea {
  position: relative;
  margin: 0.5rem 0 1.2rem;
  display: flex;
}

.contato form .campo-textarea textarea {
  resize: none;
}

.contato form .btn-box.btns .btn {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  color: #fff;
  padding: 2rem 9%;
  background-color: #020512;
}

footer p {
  font-size: 0.8rem;
}

.footer-icon-top a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background-color: rgb(221, 108, 2);
  border: 0.1rem solid rgb(221, 108, 2);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-icon-top a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #020512;
  z-index: -1;
  transition: 0.5s;
}

.footer-icon-top a:hover::before {
  width: 100%;
}

.footer-icon-top a i {
  font-size: 1rem;
  color: white;
}

.footer-icon-top a:hover i {
  color: rgb(221, 108, 2);
}

/*--Navbar--*/
.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 20px;
}

.navbar .toggle-btn {
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  display: none;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(221, 108, 2);
  transition: 0.5s;
}

/*--Seções--*/
.home {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: url('img/bg1.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #020512;
  background-blend-mode: normal;
  text-align: justify;
}

.sobre-mim {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  justify-content: center;
  flex-direction: column;
  background: url('img/vid-1.gif') no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #0b1230;
  background-blend-mode: exclusion;
}

.formacao {
  background-color: #020512;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 7rem;
}

.portfolio {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7rem;
  background: url('img/Untitled-1.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0b1230;
}

.contato {
  color: white;
  min-height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7rem;
  background: url('img/img1-3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #020512;
  background-blend-mode: exclusion;
}

/*--Dropdown Menu--*/
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  top: 70px;
  height: 0;
  background: rgb(255, 123, 0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.2);
  z-index: 1;
}

.dropdown-menu.open {
  height: 17.2rem;
}

.dropdown-menu .dropdown-transition {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020512;
  z-index: -1;
  transition: 0.325s ease;
  transition-delay: 0s;
}

.dropdown-menu.open .dropdown-transition {
  top: 0;
  transition-delay: 0.25s;
}

.dropdown-menu li {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2%;
  transition: 0.5s;
}

.dropdown-menu a {
  transform: translateY(-30rem);
  transition: 0.5s ease;
  transition-delay: 0s;
}

.dropdown-menu.open a {
  transform: translateY(0rem);
  transition-delay: 0.4s;
}

/*--Design Responsivo--*/
@media (max-width: 768px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .home .social-media {
    position: absolute;
    width: 120px;
  }

  .home .social-media a {
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  .sobre-mim {
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: #020512;
    background-blend-mode: exclusion;
  }

  .portfolio {
    background: url('img/img1-4.jpg');
    background-size: cover;
    background-position: center;
  }

  .portfolio-border {
    max-width: 100%;
  }

  .animated-border {
    width: 117%;
  }

  .corner {
    width: 99%;
  }

  .portfolio-conteudo {
    width: 95%;
  }

  .slider {
    height: 20rem;
  }

  .contato form .input-box .input-field {
    width: 100%;
  }
}

/*--Animação Keyframes--*/
@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
